<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div id="message-board-wrapper" class="overflow-wrap">
      <% for( let i = 0; i < messages.length; i++ ) { %>
      <div
        class="message border-bottom border-radius-8 twelve-px-padding-bottom"
      >
        <p class="bold"><%= messages[i].user %>:</p>
        <p class="twelve-px-margin-left"><%= messages[i].text %></p>
        <div>
          <span class="time-distance faded twelve-px-margin-left">
            <%= formatDate(messages[i].added) %> ago
          </span>
          <span class="date italic faded">
            (<%=messages[i].added.getMonth()+1 %>/<%=
            messages[i].added.getDate() %>/<%= messages[i].added.getFullYear()
            %>)
          </span>
        </div>
      </div>
      <% } %>
    </div>
    <a href="/new"
      ><button class="twelve-px-margin" id="new-message">
        Add new message
      </button></a
    >
  </body>
</html>
